/*Universal CSS Settings*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: auto;
    font-family: 'Lora', serif;
}

/*End of universal CSS Settings*/


/* Beginning of navbar css settings */
.navbar {
    background-color: burlywood !important;
}

.navbar a {
    color: #1D4706 !important;
}
/*End of navbar css settings ^^*/

/*Beginning of body css*/
.main {
    height: 30rem;
    padding-top: 1rem;
    background: linear-gradient(to bottom, rgba(245, 245, 245, 0.60), transparent) , url("https://content.codecademy.com/courses/freelance-1/unit-5/tsunami-coffee/images/bg-photo.png");   
}

.main-txt {
    color: #1D4706 !important;
    padding-top: 3rem;
}

/*Panel one css code: */

.grid {
    display: grid;
}

.panel-1-txt {
    color: #1D4706;
    margin-top: 2rem;
}

.box-2 p {
    font-size: 1.2rem;
    color: #1D4706;
}

.card {
    margin-top: 1rem;
    width: 20rem !important; 
}

.card-header {
    color: #1D4706;
}

.card-text {
    color: #1D4706;
}

.two {
    margin-top: 2rem;
    text-align: center;
}

.order {
    color: #1D4706 !important;
    background-color: burlywood;
}
/*End of panel one code ^^^*/

/*Panel two code*/

.grid-2 {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 20%;
    text-align: center;
}

.box-3 {
    color: #1D4706;
}

.box-4 {
    color: #1D4706;
}

.box-5 {
    margin-bottom: 5rem;
}

.box-6 {
    color: #1D4706;
}

/*Panel two code end*/

/*End of body CSS*/

/*Start of the footer css*/

/*End of the footer css*/